!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title NW Soccer Team H10D :: Fall 2016
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "styles.css", media: "all", rel: "stylesheet", type: "text/css"}/

  %body
    #content

      %h1.center Team &lt; NAME TBD &gt;

      .status
        .go
          Practice Thursday 9/8 5:30p at Birdland
          %br
          Team pictures! Tower Park, 9:30a Saturday

      .center.hidden
        %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2982.6293095014144!2d-94.0136353842413!3d41.62052698947178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ec39370ee322c3%3A0x77c7f8e1c725d23d!2sIsland+Park!5e0!3m2!1sen!2sus!4v1472178564707", |
          allowfullscreen: "", frameborder: "0", height: "450", style: "border:0", width: "600"}

      .center.width-600.hidden
        %strong DIRECTIONS
        %br/
        ADEL ISLAND PARK SOCCER FIELDS #2 ADEL IS STRAIGHT WEST OF DES MOINES ON HWY 6/INTERSECTION WITH HWY 169 (SOUTH OF HWY 44 AND NORTH OF I-80). ISLAND PARK SOCCER COMPLEX IS NORTH OF ADEL ON HWY 169. AT INTERSECTION OF HWY 6 AND HWY 169 TURN NORTH ON HWY 169. AND CONTINUE ON THROUGH ADEL; PAST COURT HOUSE AND MAIN DOWNTOWN AREA. GO OVER NORTH RACCOON RIVER BRIDGE AT EDGE OF TOWN AND TAKE YOUR FIRST RIGHT TURN ON NANTUCKET ROAD (BY DAN'S TOWING). FOLLOW BLACK TOP ROAD ALONG RIVER BACK TO CAMPGROUND AND SOCCER COMPLEX. ALL FIELDS ARE TO THE EAST OF THE CAMPSITES BY THE RED AND BLACK SHED.

      %hr/

      %h2 Games
      %p
        Arrive early, at least 15 minutes before the game, ready to warm up!
      %p
        You must have shinguards, soccer shoes, and the proper color shirt, and you must not be wearing any jewelry, or you will not be able to play that day.

      %table.alternating
        %thead
          %tr
            %th Date & time
            %th Location
            %th Jersey
            %th Treat family
            %th Opponent

        %tbody
          %tr.completed
            %td Sat 8/27 1:00p
            %td Adel field 3
            %td Green
            %td Logan
            %td Z10A

          %tr
            %td Sat 9/10 2:20p
            %td Winterset
            %td Green
            %td Jayden
            %td MD10A

          %tr
            %td Sat 9/17 1:00p
            %td Panorama Soccer North
            %td Green
            %td Jake
            %td PA10A

          %tr
            %td Sat 9/24 1:00p
            %td Birdland #1
            %td White
            %td Gavin
            %td VM10B

          %tr
            %td
              %strong TENTATIVE
              %br
              Sat 10/1 1:00p
            %td Grimes #8
            %td Green
            %td Archer
            %td G10A

          %tr
            %td Sat 10/8 1:00p
            %td Birdland #1
            %td White
            %td TBD
            %td MD10B

          %tr
            %td
              %strong TENTATIVE
              %br
              Thu 10/13 5:45p
            %td Birdland #1
            %td White
            %td Ian
            %td G10B

          %tr
            %td Sat 10/22 1:00p
            %td Birdland #1
            %td White
            %td Tommy &amp; Joey
            %td Z10A

      %hr/
      %h2 Practice
      %p
        Mondays and Thursday 5:30p-6:30p, at
        %a{href: "https://goo.gl/maps/ocAaSZQMxu92", title: "See in Google Maps"} Birdland Park.
        Bring a water bottle, a soccer ball, and shinguards.
      %p
        Parents: you do not need to stay at practice, but be sure the coaches have your contact information.
      %hr/
      %h2 Paperwork & Etc.
      %p
        %a{href: "http://www.nwsoccerclub.org/portals/6400/docs/medical%20release%20form.pdf"} Medical release form (PDF);
        please complete and either scan &
        %a{href: "mailto:dan@danbuettner.net"} e-mail to Coach Dan
        or bring to practice.
      %p
        %a{href: "http://www.nwsoccerclub.org"} Northwest Soccer Club website
      %hr/
      %h2 Coach
      .coach
        %strong Dan Buettner
        &bull;
        %a{href: "mailto:dan@danbuettner.net"} dan@danbuettner.net
        &bull;
        %a{href: "tel:+15154220761"} 515.422.0761
        %br/
      %hr/