!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title NW Soccer Team H10D :: Fall 2016
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "styles.css", media: "all", rel: "stylesheet", type: "text/css"}/

  %body
    #content

      %h1.center Team &lt;NAME TBD&gt;

      .status
        .go
          First practice Thursday 8/25 5:30p at Birdland Park

      .center.hidden
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2983.2086251916917!2d-93.70525559999997!3d41.608000099999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ee9e6249f39ee3%3A0x507682762339c798!2s6401+College+Ave%2C+Windsor+Heights%2C+IA+50324!5e0!3m2!1sen!2sus!4v1443890843734", style: "border:0", width: "600"}

      .center.width-600.hidden
        %strong DIRECTIONS
        %br/
        NORTHWEST COWLES 6401 COLLEGE AVENUE, WINDSOR HEIGHTS, IOWA 50311 - TURN WEST ON COLLEGE FROM 63RD STREET. LOCATED BETWEEN HICKMAN AND UNIVERSITY AVE IN DES MOINES.

      %hr/

      %h2 Games
      %p
        Arrive early, at least 15 minutes before the game, ready to warm up!
      %p
        You must have shinguards, soccer shoes, and the proper color shirt, and you must not be wearing any jewelry, or you will not be able to play that day.

      %table.alternating
        %thead
          %tr
            %th Date & time
            %th Location
            %th Jersey
            %th Treat family
            %th Opponent

        %tbody
          %tr
            %td Sat 8/27 1:00p
            %td Adel field 3
            %td Green
            %td TBD
            %td Z10A

          %tr
            %td Sat 9/10 2:20p
            %td Winterset
            %td Green
            %td TBD
            %td MD10A

          %tr
            %td Sat 9/17 1:00p
            %td Panorama Soccer North
            %td Green
            %td TBD
            %td PA10A

          %tr
            %td Sat 9/24 1:00p
            %td Birdland #1
            %td White
            %td TBD
            %td VM10B

          %tr
            %td Sat 10/1 1:00p
            %td Grimes #8
            %td Green
            %td TBD
            %td G10A

          %tr
            %td Sat 10/8 1:00p
            %td Birdland #1
            %td White
            %td TBD
            %td MD10B

          %tr
            %td
              %strong TBD
            %td Birdland #1
            %td White
            %td TBD
            %td G10B

          %tr
            %td Sat 10/22 1:00p
            %td Birdland #1
            %td White
            %td TBD
            %td Z10A

      %hr/
      %h2 Practice
      %p
        Mondays and Thursday 5:30p-6:30p, at
        %a{href: "https://goo.gl/maps/ocAaSZQMxu92", title: "See in Google Maps"} Birdland Park.
        Bring a water bottle, a soccer ball, and shinguards.
      %p
        Parents: you do not need to stay at practice, but be sure the coaches have your contact information.
      %hr/
      %h2 Paperwork & Etc.
      %p
        %a{href: "http://www.nwsoccerclub.org/portals/6400/docs/medical%20release%20form.pdf"} Medical release form (PDF);
        please complete and either scan &
        %a{href: "mailto:dan@danbuettner.net"} e-mail to Coach Dan
        or bring to practice.
      %p
        %a{href: "http://www.nwsoccerclub.org"} Northwest Soccer Club website
      %hr/
      %h2 Coach
      .coach
        %strong Dan Buettner
        &bull;
        %a{href: "mailto:dan@danbuettner.net"} dan@danbuettner.net
        &bull;
        %a{href: "tel:+15154220761"} 515.422.0761
        %br/
      %hr/