!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title NW Soccer Team H12R :: Spring 2016
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "styles.css", media: "all", rel: "stylesheet", type: "text/css"}/

  %body
    #content

      %h1.center Team Black Lightning

      .status
        .go
          Game Sunday 5p - Soccer South Field K - white jerseys

      .center.hidden
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2978.8397979510773!2d-93.47224618466278!3d41.70239397923657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x87ee9270a2473905%3A0x81895fb86ef1075!2s315+2nd+St+NW%2C+Bondurant%2C+IA+50035!3m2!1d41.702394!2d-93.4700575!5e0!3m2!1sen!2sus!4v1476125365721", style: "border:0", width: "600"}

      .center.width-600.hidden
        %strong DIRECTIONS
        %br
        %strong BONDURANT SOCCER COMPLEX
        %br
        BONDURANT SOCCER CLUB IS ON THE WEST SIDE OF TOWN ON NE SECOND. OFF OF US HWY 65 TURN WEST ONTO NE 2ND (AT DIAMOND CRYSTAL FOODS). TRAVEL WEST THROUGH TOWN. SOCCER COMPLEX IS ON THE SOUTH; BEHIND THE AMERICAN LEGION. OR OFF I-35 TAKE ANKENY INDUSTRIAL/BONDURANT EXIT (EXIT 90) TRAVEL EAST TO BONDURANT . SOCCER COMPLEX IS ON THE SOUTH SIDE BEHIND THE AMERICAN LEGION. NOTE: PLEASE PARK ON THE GRAVEL PARKING LOT. DO NOT PARK IN THE AMERICAN LEGION PARKING LOT. LEGION ADDRESS IS 315 2ND ST NW

      %hr

      %h2 Games
      %p
        Arrive early, at least 15 minutes before the game, ready to warm up!
      %p
        You must have shinguards, soccer shoes, and the proper color shirt, and you must not be wearing any jewelry, or you will not be able to play that day.

      %table.alternating
        %thead
          %tr
            %th Date & time
            %th Jersey
            %th Location
            %th Treat family
            %th Opponent
            %th Game #
            %th Score
        %tbody
          %tr.completed
            %td Sun 9/11 3:00p
            %td White
            %td Soccer South K
            %td Adrienne
            %td Carlisle CA12R
            %td P5087
            %td.score 2-12
          %tr.completed
            %td Sun 9/18 1:00p
            %td Green
            %td Adel #7
            %td Libby
            %td Adel Z12R
            %td P5209
            %td.score 1-11
          %tr.completed
            %td Sun 9/25 3:00p
            %td White
            %td Soccer South K
            %td Heather
            %td Dallas Center-Grimes G12R
            %td P5328
            %td.score 1-8
          %tr.completed
            %td Mon 10/10 5:30p
            %td Green
            %td Bondurant #1
            %td Grace
            %td Bondurant B12T
            %td P5436
            %td.score 1-9
          %tr
            %td Sun 10/16 5:00p
            %td White
            %td Soccer South K
            %td CeCe
            %td Iowa Rush A12T
            %td P5535
            %td.score
          %tr
            %td Sun 10/23 3:00p
            %td Green
            %td West Des Moines Hidden Valley #6B
            %td Hanna
            %td West Des Moines V12W
            %td P6067
            %td.score
          %tr
            %td Sun 10/30 4:45p
            %td Green
            %td Johnston S4
            %td Elana
            %td Johnston J12U
            %td P5714
            %td.score

      %hr
      %h2 Practice
      %p
        Mondays & Thursdays 6:30p-7:30p
        %a{href: "https://goo.gl/maps/ocAaSZQMxu92", title: "See in Google Maps"} at Birdland.
        Please bring a water bottle, a soccer ball, and shinguards.
      %p
        Parents: you do not need to stay at practice, but be sure the coaches have your contact information.
      %hr
      %h2 Paperwork & Etc.
      %p
        %a{href: "http://www.nwsoccerclub.org/portals/6400/docs/medical%20release%20form.pdf"} Medical release form (PDF);
        please complete and either scan &
        %a{href: "mailto:dan@danbuettner.net"} e-mail to Coach Dan
        or bring to practice.
      %p
        %a{href: "http://www.nwsoccerclub.org"} Northwest Soccer Club website
      %hr
      %h2 Coach
      .coach
        %strong Dan Buettner
        &bull;
        %a{href: "mailto:dan@danbuettner.net"} dan@danbuettner.net
        &bull;
        %a{href: "tel:+15154220761"} 515.422.0761
        %br
      %hr