!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title NW Soccer Team H12R :: Spring 2016
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "styles.css", media: "all", rel: "stylesheet", type: "text/css"}/

  %body
    #content

      %h1.center Team Black Lightning

      .status
        .go
          Team pictures! Tower Park, 9:45a Saturday
          %br
          Game Sunday 3:00p at Soccer South - white jerseys

      .center
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.5875578607156!2d-93.68482954867909!3d41.556526643352996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ee9f69951fc2b3%3A0x7cc9d9953b2f8ff0!2sSoccer+South+Soccer+Club%2C+5171+Park+Ave%2C+Des+Moines%2C+IA+50321!5e0!3m2!1sen!2sus!4v1473470924111", style: "border:0", width: "600"}

      .center.width-600
        %strong DIRECTIONS
        %br
        SOCCER SOUTH
        5171 SW PARK AVE; Fields are on the north side of Park Avenue, just west of where George Flagg Pkwy T's into Park Ave. (This is 2 miles west of Fleur and 1/2 mile east of SW 63RD/Hwy 28.) Field I will be a bit towards the east end of the complex. When you come into the parking lot, head right.

      %hr/

      %h2 Games
      %p
        Arrive early, at least 15 minutes before the game, ready to warm up!
      %p
        You must have shinguards, soccer shoes, and the proper color shirt, and you must not be wearing any jewelry, or you will not be able to play that day.

      %table.alternating
        %thead
          %tr
            %th Date & time
            %th Jersey
            %th Location
            %th Treat family
            %th Opponent
            %th Game #
            %th Score
        %tbody
          %tr
            %td Sun 9/11 3:00p
            %td White
            %td Soccer South K
            %td TBD
            %td Carlisle CA12R
            %td P5087
            %td.score
          %tr
            %td Sun 9/18 3:00p
            %td Green
            %td Adel #2
            %td TBD
            %td Adel Z12R
            %td P5209
            %td.score
          %tr
            %td Sun 9/25 3:00p
            %td White
            %td Soccer South K
            %td TBD
            %td Dallas Center-Grimes G12R
            %td P5328
            %td.score
          %tr
            %td Sun 10/09 3:00p
            %td Green
            %td Bondurant #2
            %td TBD
            %td Bondurant B12T
            %td P5436
            %td.score
          %tr
            %td Sun 10/16 5:00p
            %td White
            %td Soccer South K
            %td TBD
            %td Iowa Rush A12T
            %td P5535
            %td.score
          %tr
            %td Sun 10/23 3:00p
            %td Green
            %td West Des Moines Hidden Valley #6B
            %td TBD
            %td West Des Moines V12W
            %td P6067
            %td.score
          %tr
            %td Sun 10/30 4:45p
            %td Green
            %td Johnston S4
            %td TBD
            %td Johnston J12U
            %td P5714
            %td.score

      %hr/
      %h2 Practice
      %p
        Mondays & Thursdays 6:30p-7:30p
        %a{href: "https://goo.gl/maps/ocAaSZQMxu92", title: "See in Google Maps"} at Birdland.
        Please bring a water bottle, a soccer ball, and shinguards.
      %p
        Parents: you do not need to stay at practice, but be sure the coaches have your contact information.
      %hr/
      %h2 Paperwork & Etc.
      %p
        %a{href: "http://www.nwsoccerclub.org/portals/6400/docs/medical%20release%20form.pdf"} Medical release form (PDF);
        please complete and either scan &
        %a{href: "mailto:dan@danbuettner.net"} e-mail to Coach Dan
        or bring to practice.
      %p
        %a{href: "http://www.nwsoccerclub.org"} Northwest Soccer Club website
      %hr/
      %h2 Coach
      .coach
        %strong Dan Buettner
        &bull;
        %a{href: "mailto:dan@danbuettner.net"} dan@danbuettner.net
        &bull;
        %a{href: "tel:+15154220761"} 515.422.0761
        %br/
      %hr/