!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title Team H12R :: Spring 2017
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "styles.css", media: "all", rel: "stylesheet", type: "text/css"}/

  %body
    #content

      %h1.center
        The Fire-Breathing Gummy Bears

      .status
        .caution
          Practice Monday 5/1 6p - watch for weather updates

      .center
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", style: "border:0", width: "600", |
          src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7836504171273!2d-93.01846368456437!3d41.70360597923651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ef1b5e4113a4eb%3A0xe22e463176896fe0!2sAgnes+Patterson+Memorial+Park!5e0!3m2!1sen!2sus!4v1493495229235" }

      .center.width-600.hidden
        %strong
          Newton U12 Field
          %br
          Agnes Patterson Memorial Park
          %br
          3000 N 4th Ave E, Newton, IA 50208
      %hr

      %h2
        Games
      %p
        Arrive early, 20 minutes before the game, ready to warm up!
      %p
        You must have shinguards, soccer shoes, and the proper color shirt, and you must not be wearing any jewelry, or you will not be able to play that day.

      %table.alternating.hidden
        %thead
          %tr
            %th Date & time
            %th Jersey
            %th Location
            %th Treat family
            %th Opponent
            %th Game #
            %th Score
        %tbody
          %tr.completed
            %td Sun 4/2 5p
            %td White
            %td Soccer South J
            %td Adrienne
            %td VSA W12R
            %td P1044
            %td.score 1-6
          %tr.completed
            %td Sun 4/9 3p
            %td Green
            %td Urbandale #1
            %td Naomi
            %td Urbandale U12R
            %td P1156
            %td.score 0-15
          %tr.completed
            %td Saturday 4/22 11a
            %td White
            %td Cownie #2A
            %td CeCe
            %td Dallas Center-Grimes G12R
            %td P1768
            %td.score 2-16
          %tr
            %td Sun 5/7 3p
            %td Green
            %td Newton U12 Field
            %td ?
            %td Newton T12T
            %td P1357
            %td.score
          %tr
            %td Sun 5/14 1p
            %td Green
            %td North Polk HS
            %td ?
            %td NP United P12S
            %td P1454
            %td.score
          %tr
            %td Sun 5/21 5p
            %td White
            %td Soccer South J
            %td ?
            %td Dowling D12T
            %td P1774
            %td.score
          %tr
            %td Saturday 6/3 10a
            %td White
            %td Soccer South J
            %td ?
            %td Colfax-Mingo CM12W
            %td P1629
            %td.score

      %hr

      %h2
        Practice
      %p
        Mondays & Wednesdays 6p-7p at Cowles Montessori.
      %p
        Please bring a water bottle, a soccer ball, and shinguards.
      %p
        Parents: you do not need to stay at practice, but be sure the coaches have your contact information.

      %hr

      %h2
        Paperwork & Etc.

      %p
        %a{href: "https://bsbproduction.s3.amazonaws.com/portals/6400/docs/medicalreleaseform.pdf"} Medical release form (PDF);
        please complete and either scan &
        %a{href: "mailto:dan@danbuettner.net"} e-mail to Coach Dan
        or bring to practice.
      %p
        %a{href: "http://www.nwsoccerclub.org"} Northwest Soccer Club website

      %hr

      %h2
        Coach

      .coach
        %strong Dan Buettner
        &bull;
        %a{href: "mailto:dan@danbuettner.net"} dan@danbuettner.net
        &bull;
        %a{href: "tel:+15154220761"} 515.422.0761
        %br
      %hr
