!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title NW Soccer Team H12R :: Spring 2016
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "styles.css", media: "all", rel: "stylesheet", type: "text/css"}/

  %body
    #content

      %h1.center Team Black Lightning

      .status
        .go
          Game Sunday 10/30 at 4p in Johnston - field S4 - green jerseys

      .center
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2979.8711836137277!2d-93.67918834894381!3d41.68012537913658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ee9c978f02cd1d%3A0x11b79e377e0a0600!2sJohnston+Soccer+Club!5e0!3m2!1sen!2sus!4v1477789788845", style: "border:0", width: "600"}

      .center.width-600
        %strong DIRECTIONS
        %br
        %strong Johnston S4
        %br
        FROM MERLE HAY ROAD TURN EAST ON NW 62ND AVE. CONTINUE EAST TO BEAVER AVE AND TURN NORTH. AT NW 66TH AVE TURN EAST. THE FIELDS ARE DIRECTLY AHEAD. FIELD South 4 IS ON THE SOUTH SIDE OF THE ROAD.
      %hr

      %h2 Games
      %p
        Arrive early, at least 15 minutes before the game, ready to warm up!
      %p
        You must have shinguards, soccer shoes, and the proper color shirt, and you must not be wearing any jewelry, or you will not be able to play that day.

      %table.alternating
        %thead
          %tr
            %th Date & time
            %th Jersey
            %th Location
            %th Treat family
            %th Opponent
            %th Game #
            %th Score
        %tbody
          %tr.completed
            %td Sun 9/11 3:00p
            %td White
            %td Soccer South K
            %td Adrienne
            %td Carlisle CA12R
            %td P5087
            %td.score 2-12
          %tr.completed
            %td Sun 9/18 1:00p
            %td Green
            %td Adel #7
            %td Libby
            %td Adel Z12R
            %td P5209
            %td.score 1-11
          %tr.completed
            %td Sun 9/25 3:00p
            %td White
            %td Soccer South K
            %td Heather
            %td Dallas Center-Grimes G12R
            %td P5328
            %td.score 1-8
          %tr.completed
            %td Mon 10/10 5:30p
            %td Green
            %td Bondurant #1
            %td Grace
            %td Bondurant B12T
            %td P5436
            %td.score 1-9
          %tr.completed
            %td Sun 10/16 5:00p
            %td White
            %td Soccer South K
            %td CeCe
            %td Iowa Rush A12T
            %td P5535
            %td.score 2-9
          %tr.completed
            %td Sun 10/23 3:00p
            %td Green
            %td West Des Moines Hidden Valley #6B
            %td Hanna
            %td West Des Moines V12W
            %td P6067
            %td.score 3-2
          %tr
            %td Sun 10/30 4:00p
            %td Green
            %td Johnston S4
            %td Elana
            %td Johnston J12U
            %td P5714
            %td.score

      %hr
      %h2 Practice
      %p
        Mondays & Thursdays 6p-7p
        %a{href: "https://goo.gl/maps/ocAaSZQMxu92", title: "See in Google Maps"} at Birdland.
        Please bring a water bottle, a soccer ball, and shinguards.
      %p
        Parents: you do not need to stay at practice, but be sure the coaches have your contact information.
      %hr
      %h2 Paperwork & Etc.
      %p
        %a{href: "http://www.nwsoccerclub.org/portals/6400/docs/medical%20release%20form.pdf"} Medical release form (PDF);
        please complete and either scan &
        %a{href: "mailto:dan@danbuettner.net"} e-mail to Coach Dan
        or bring to practice.
      %p
        %a{href: "http://www.nwsoccerclub.org"} Northwest Soccer Club website
      %hr
      %h2 Coach
      .coach
        %strong Dan Buettner
        &bull;
        %a{href: "mailto:dan@danbuettner.net"} dan@danbuettner.net
        &bull;
        %a{href: "tel:+15154220761"} 515.422.0761
        %br
      %hr