!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title NW Soccer Team H12R :: Spring 2016
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "styles.css", media: "all", rel: "stylesheet", type: "text/css"}/

  %body
    #content

      %h1.center Team Better-Than-That

      .status.go
        Next game - Wednesday 5/25 6:00p at Perkins - green jerseys

      .center.hidden
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2984.4989298953155!2d-93.47545968410778!3d41.58008797924697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ee95b091e232e5%3A0x8cfb66b6b7048d3b!2sSoutheast+Polk+Four+Mile+Elementary+School!5e0!3m2!1sen!2sus!4v1460290914809", style: "border:0", width: "600"}

      .center.width-600.hidden
        %strong DIRECTIONS
        %br
        PLEASANT HILL FOUR MILE ELEMENTARY SCHOOL TAKE EAST UNIVERSITY AVE (HWY 163) INTO PLEASANT HILL AND (1) TURN SOUTH ON NE 64TH ST. AND PROCEED TO 2-WAY STOP WHICH IS S.E. 6TH AVENUE. (2) TURN LEFT ON S.E. 6TH AVE AND PROCEED EAST TO S.E. 68TH ST. (3) TURN RIGHT ON S.E. 68TH STREET AND TURN INTO THE SCHOOL PARKING LOT.

      %hr/

      %h2 Games
      %p
        Arrive early, at least 15 minutes before the game, ready to warm up!
      %p
        %strong Home
        games are
        %strong white
        jerseys;
        %strong visitor
        games are
        = succeed "." do
          %strong green

      %table.alternating
        %thead
          %tr
            %th Date & time
            %th Jersey
            %th Location
            %th Treat family
            %th Opponent
            %th Game #
            %th Score
        %tbody
          %tr.completed
            %td Sun 4/10 1:00p
            %td
              %abbr{title: "Visitor"} Green
            %td Pleasant Hill FM-1
            %td Julia
            %td PH12V
            %td P6
            %td.score 3-0
          %tr.completed
            %td Sun 4/17 2:20p
            %td
              %abbr{title: "Home"} White
            %td Hillis
            %td Adrienne
            %td U12S
            %td P11
            %td.score 3-3
          %tr.completed
            %td Sun 4/24 2:20p
            %td
              %abbr{title: "Visitor"} Green
            %td Winterset WM 12C
            %td Mari
            %td MD12S
            %td P14
            %td.score 4-0
          %tr.completed
            %td Sun 5/15 2:20p
            %td
              %abbr{title: "Home"} White
            %td Perkins
            %td Megan
            %td A12T
            %td P25
            %td.score
              3-0 officially
              %br
              6-4 actually
          %tr.completed
            %td Sun 5/22 3:40p
            %td
              %abbr{title: "Visitor"} Green
            %td Pleasant Hill FM-1
            %td Josie
            %td PH11Z
            %td P35
            %td.score 1-6
          %tr
            %td
              %strong Wed 5/25 6:00p
            %td
              %abbr{title: "Visitor"} Green
            %td Perkins
            %td Maia
            %td H12U
            %td P44
            %td.score
          %tr
            %td Sun 6/5 2:20p
            %td
              %abbr{title: "Home"} White
            %td Perkins
            %td Audrey
            %td W11S
            %td P37
            %td.score
          %tr
            %td ? ? ?
            %td
              %abbr{title: "Home"} White
            %td Perkins
            %td Libby
            %td S12S
            %td P19
            %td.score


      %hr/
      %h2 Practice
      %p
        Mondays & Thursdays, 5:30p-6:30p, at
        = succeed "." do
          %a{href: "https://goo.gl/maps/igrQmDzZDRS2", title: "See in Google Maps"} Perkins Elementary
      %p
        Please bring a water bottle, a soccer ball, and shinguards.
      %p
        Parents: you do not need to stay at practice, but be sure the coaches have your contact information.
      %hr/
      %h2 Paperwork & Etc.
      %p
        %a{href: "http://www.nwsoccerclub.org/portals/6400/docs/medical%20release%20form.pdf"} Medical release form (PDF);
        please complete and either scan & e-mail to Coach Dan or bring to practice.
      %p
        %a{href: "http://www.nwsoccerclub.org"} Northwest Soccer Club website
      %hr/
      %h2 Coach
      .coach
        %strong Dan Buettner
        %br/
        %a{href: "mailto:dan@danbuettner.net"} dan@danbuettner.net
        %br/
        %a{href: "tel:+15154220761"} 515.422.0761
        %br/
      .coach
        %strong Dan Myers
        %br/
        %a{href: "mailto:danmyers_@hotmail.com"} danmyers_@hotmail.com
        %br/
        %a{href: "tel:+15154228336"} 515.422.8336
        %br/
      %hr/