!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title Team H12R :: Spring 2017
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "styles.css", media: "all", rel: "stylesheet", type: "text/css"}/

  %body
    #content

      %h1.center
        Team Name TBD

      .status
        .go
          Game Sunday 4/2 5p at Soccer South - field J - white jerseys

      .center
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", style: "border:0", width: "600", |
          src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.5877432853626!2d-93.68482418451512!3d41.556522629249095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ee9f69951fc2b3%3A0x7cc9d9953b2f8ff0!2sSoccer+South+Soccer+Club%2C+5171+Park+Ave%2C+Des+Moines%2C+IA+50321!5e0!3m2!1sen!2sus!4v1490840336826" }

      .center.width-600
        %strong
          Soccer South
          %br
          5171 Park Ave Des Moines Iowa
      %hr

      %h2
        Games
      %p
        Arrive early, 20 minutes before the game, ready to warm up!
      %p
        You must have shinguards, soccer shoes, and the proper color shirt, and you must not be wearing any jewelry, or you will not be able to play that day.

      %table.alternating
        %thead
          %tr
            %th Date & time
            %th Jersey
            %th Location
            %th Treat family
            %th Opponent
            %th Game #
            %th Score
        %tbody
          %tr
            %td Sun 4/2 5:00p
            %td White
            %td Soccer South J
            %td Adrienne
            %td VSA W12R
            %td P1044
            %td.score
          %tr
            %td Sun 4/9 3:00p
            %td Green
            %td Urbandale #1
            %td ?
            %td Urbandale U12R
            %td P1156
            %td.score
          %tr
            %td
              TENTATIVE
            %td White
            %td Cownie #3
            %td ?
            %td Dallas Center-Grimes G12R
            %td P1768
            %td.score
          %tr
            %td Sun 4/30 3:00p
            %td Green
            %td Newton U12 Field
            %td ?
            %td Newton T12T
            %td P1357
            %td.score
          %tr
            %td Sun 5/14 1:00p
            %td Green
            %td North Polk HS
            %td ?
            %td NP United P12S
            %td P1454
            %td.score
          %tr
            %td Sun 5/21 5:00p
            %td White
            %td Soccer South J
            %td ?
            %td Dowling D12T
            %td P1774
            %td.score
          %tr
            %td
              TENTATIVE
            %td White
            %td Soccer South J
            %td ?
            %td Colfax-Mingo CM12W
            %td P1629
            %td.score

      %hr

      %h2
        Practice
      %p
        Mondays & Wednesdays 6p-7p at Cowles Montessori.
      %p
        Please bring a water bottle, a soccer ball, and shinguards.
      %p
        Parents: you do not need to stay at practice, but be sure the coaches have your contact information.

      %hr

      %h2
        Paperwork & Etc.

      %p
        %a{href: "https://bsbproduction.s3.amazonaws.com/portals/6400/docs/medicalreleaseform.pdf"} Medical release form (PDF);
        please complete and either scan &
        %a{href: "mailto:dan@danbuettner.net"} e-mail to Coach Dan
        or bring to practice.
      %p
        %a{href: "http://www.nwsoccerclub.org"} Northwest Soccer Club website

      %hr

      %h2
        Coach

      .coach
        %strong Dan Buettner
        &bull;
        %a{href: "mailto:dan@danbuettner.net"} dan@danbuettner.net
        &bull;
        %a{href: "tel:+15154220761"} 515.422.0761
        %br
      %hr