!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title NW Soccer Team H12R :: Spring 2016
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "styles.css", media: "all", rel: "stylesheet", type: "text/css"}/

  %body
    #content

      %h1.center Team Black Lightning

      .status.go
        Next practice: Monday 4/4 5:30p at Perkins Elementary

      .center.hidden
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2983.594287688754!2d-93.76013804858806!3d41.599658979143435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ec20bdf28bb073%3A0xc7f24e654193fb7e!2sJason's+Deli!5e0!3m2!1sen!2sus!4v1446425526786", style: "border:0", width: "600"}

      .center.hidden{style: "width: 600px;"}
        %strong DIRECTIONS
        %br/
        Along south side of University Avenue between 35th St (Valley West Drive) and 42nd St.

      %hr/

      %h2 Games
      %p
        Arrive early, at least 15 minutes before the game, ready to warm up!
      %p
        %strong Home
        games are
        %strong white
        jerseys;
        %strong visitor
        games are
        = succeed "." do
          %strong green

      %table.alternating
        %thead
          %tr
            %th Date
            %th Time
            %th Jersey
            %th Location
            %th Treat Family
            %th Opponent
            %th Game #
            %th Score
        %tbody
          %tr
            %td Sun 4/10
            %td 1:00p
            %td
              %abbr{title: "Visitor"} Green
            %td Pleasant Hill FM-1
            %td tbd
            %td PH12V
            %td P6
            %td
          %tr
            %td Sun 4/17
            %td 2:20p
            %td
              %abbr{title: "Home"} White
            %td Perkins
            %td tbd
            %td U12S
            %td P11
            %td
          %tr
            %td Sun 4/24
            %td 2:20p
            %td
              %abbr{title: "Visitor"} Green
            %td Winterset WM 12C
            %td tbd
            %td MD12S
            %td P14
            %td
          %tr
            %td Sat 4/30
            %td 9:00a
            %td
              %abbr{title: "Visitor"} Green
            %td Perkins
            %td tbd
            %td H12U
            %td P44
            %td
          %tr
            %td Sun 5/1
            %td 1:00p
            %td
              %abbr{title: "Home"} White
            %td Perkins
            %td tbd
            %td S12S
            %td P19
            %td
          %tr
            %td Sun 5/15
            %td 2:20p
            %td
              %abbr{title: "Home"} White
            %td Perkins
            %td tbd
            %td A12T
            %td P25
            %td
          %tr
            %td Sun 5/22
            %td 3:40p
            %td
              %abbr{title: "Visitor"} Green
            %td Pleasant Hill FM-1
            %td tbd
            %td PH11Z
            %td P35
            %td
          %tr
            %td Sun 6/5
            %td 2:20p
            %td
              %abbr{title: "Home"} White
            %td Perkins
            %td tbd
            %td W11S
            %td P37
            %td


      %hr/
      %h2 Practice
      %p
        Mondays & Thursdays, 5:30p-6:30p, at
        = succeed "." do
          %a{href: "https://goo.gl/maps/igrQmDzZDRS2", title: "See in Google Maps"} Perkins Elementary
      %p
        Please bring a water bottle, a soccer ball, and shinguards.
      %p
        Parents: you do not need to stay at practice, but be sure the coaches have your contact information.
      %hr/
      %h2 Paperwork & Etc.
      %p
        %a{href: "http://www.nwsoccerclub.org/portals/6400/docs/medical%20release%20form.pdf"} Medical release form (PDF);
        please complete and either scan & e-mail to Coach Dan or bring to practice.
      %p
        %a{href: "http://www.nwsoccerclub.org"} Northwest Soccer Club website
      %hr/
      %h2 Coach
      .coach
        %strong Dan Buettner
        %br/
        %a{href: "mailto:dan@danbuettner.net"} dan@danbuettner.net
        %br/
        %a{href: "tel:+15154220761"} 515.422.0761
        %br/
      .coach
        %strong Dan Myers
        %br/
        %a{href: "mailto:danmyers_@hotmail.com"} danmyers_@hotmail.com
        %br/
        %a{href: "tel:+15154228336"} 515.422.8336
        %br/
      %hr/