!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title NW Soccer Team H8J :: Spring 2016
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "styles.css", media: "all", rel: "stylesheet", type: "text/css"}/

  %body
    #content

      %h1.center Team H8J

      .status.go
        First game! Saturday 4/9 10a at Cowles Elementary
        %br
        Please arrive a little early to warm up and prepare!

      .center
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2983.2086251916917!2d-93.70525559999997!3d41.608000099999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ee9e6249f39ee3%3A0x507682762339c798!2s6401+College+Ave%2C+Windsor+Heights%2C+IA+50324!5e0!3m2!1sen!2sus!4v1443890843734", style: "border:0", width: "600"}

      .center.width-600
        %strong DIRECTIONS
        %br/
        NORTHWEST COWLES 6401 COLLEGE AVENUE, WINDSOR HEIGHTS, IOWA 50311 - TURN WEST ON COLLEGE FROM 63RD STREET. LOCATED BETWEEN HICKMAN AND UNIVERSITY AVE IN DES MOINES.

      %hr/

      %h2 Games
      %p
        Arrive early, at least 15 minutes before the game, ready to warm up!
      %p
        %strong Home
        games are
        %strong white
        jerseys;
        %strong visitor
        games are
        = succeed "." do
          %strong green

      %table.alternating
        %thead
          %tr
            %th Date
            %th Time
            %th Jersey
            %th Location
            %th Treat Family
            %th Opponent
            %th Game #
        %tbody
          %tr
            %td Sat 4/9
            %td 10:00a
            %td
              %abbr{title: "Visitor"} Green
            %td Cowles 2
            %td tbd
            %td Northwest H8D
            %td 210
          %tr
            %td Sat 4/16
            %td 9:00a
            %td
              %abbr{title: "Home"} White
            %td Cowles 1
            %td tbd
            %td Northwest H8E
            %td 213
          %tr
            %td TENTATIVE Sat 4/23
            %td 11:00a
            %td
              %abbr{title: "Visitor"} Green
            %td Cowles 1
            %td tbd
            %td Northwest H8F
            %td 219
          %tr
            %td Sat 4/30
            %td 9:00a
            %td
              %abbr{title: "Home"} White
            %td Cowles 1
            %td tbd
            %td Northwest H8G
            %td 221
          %tr
            %td Sat 5/7
            %td 12:00p
            %td
              %abbr{title: "Visitor"} Green
            %td Cowles 2
            %td tbd
            %td Northwest H8H
            %td 228
          %tr
            %td Sat 5/14
            %td 12:00p
            %td
              %abbr{title: "Home"} White
            %td Cowles 2
            %td tbd
            %td Northwest H8C
            %td 232
          %tr
            %td Sat 5/21
            %td 12:00p
            %td
              %abbr{title: "Home"} White
            %td Cowles 2
            %td tbd
            %td Northwest H8K
            %td 236
          %tr
            %td Sat 6/4
            %td 10:00a
            %td
              %abbr{title: "Visitor"} Green
            %td Cowles 2
            %td tbd
            %td Northwest H8D
            %td 238


      %hr/
      %h2 Practice
      %p
        Mondays 6:30p-7:30p, at
        = succeed "." do
          %a{href: "https://goo.gl/maps/igrQmDzZDRS2", title: "See in Google Maps"} Perkins Elementary
      %p
        Please bring a water bottle, a soccer ball, and shinguards.
      %p
        Parents: you do not need to stay at practice, but be sure the coaches have your contact information.
      %hr/
      %h2 Paperwork & Etc.
      %p
        %a{href: "http://www.nwsoccerclub.org/portals/6400/docs/medical%20release%20form.pdf"} Medical release form (PDF);
        please complete and either scan & e-mail to Coach Dan or bring to practice.
      %p
        %a{href: "http://www.nwsoccerclub.org"} Northwest Soccer Club website
      %hr/
      %h2 Coach
      .coach
        %strong Dan Buettner
        %br/
        %a{href: "mailto:dan@danbuettner.net"} dan@danbuettner.net
        %br/
        %a{href: "tel:+15154220761"} 515.422.0761
        %br/
      %hr/