body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}
.hidden {
  display: none;
}
img.headshot {
  margin: 0em 1em 1em 0em;
}
.season {
  font-size: 1.5em;
  margin-top: -0.6em;
  text-align: center;
}
div.status {
  text-align: center;
  font-weight: bold;
  margin: 10px auto;
  width: 80%;
  padding: 6px;
}
.go {
  border: 4px solid #2EDE02;
  background: #84FA66;
}
.caution {
  border: 4px solid orange;
  background: #FFC74F;
}
.alert {
  border: 4px solid #E81313;
  background: #FFABAB;
}
#content {
  width: 90%;
  margin: auto;
}
div.coach {
  display: inline-block;
  width: 30%;
}
h1 {
  text-align: center;
}
.center {
  text-align: center;
}
div.center {
  margin: 0 auto;
}
table.alternating {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ccc;
  margin-bottom: 1em;
}
table.alternating thead {
  border-bottom: 2px solid #ccc;
}
table.alternating thead th {
  text-align: left;
}
table.alternating td, table.alternating th {
  padding: 10px 5px;
}
table.alternating tbody tr:nth-child(2n+0) {
  background-color: #cdcdcd;
}
table.alternating tbody tr:nth-child(2n+1) {
  background-color: #eee;
}
table.alternating tbody tr:hover {
  background-color: #84FA66;
}
table.alternating tbody tr.completed td {
  text-decoration: line-through;
}
table.alternating tbody tr.completed td.score {
  text-decoration: none;
}